@mixin bar-label {
  padding: 0 0.8em;
  background: $base01;
  color: $base05;
  font-size: 13px;

  min-height: 28px;
}

@mixin transparent-label {
  @include bar-label();

  background: transparent;
  padding: 0;
  margin: 0 0.2em;
}

@mixin bar-button {
  @include bar-label();

  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);

  &:hover {
    background: $base02;
  }
}

@mixin small-label {
  font-size: 13px;
  padding: 0;

  min-width: 28px;
  min-height: 28px;
}

.bar {
  font-family: "Rubik";

  .cbox {
    border-top: 2px solid $base01;
    background: $base00;
    padding: 0.3em;
  }

  button {
    @include bar-button();
  }

  separator {
    background: $base03;
    margin: 0.4em 0;
  }

  .launcher-button {
    @include small-label();

    icon {
      color: $base05;
    }
  }

  .workspaces {
    button {
      @include small-label();

      background: transparent;
      color: $base03;

      &.occupied {
        color: $base05;
      }

      &.active {
        color: $base0D;
        background: $base01;
        // box-shadow: 0 -2px 0 0 $base0D inset;
      }

      &:hover {
        background: $base02;
      }
    }
  }

  .clients {
    button {
      @include small-label();
      background: transparent;

      &.focused {
        background: $base01;
      }

      &:hover {
        background: $base02;
      }
    }
  }

  .tray {
    background: transparent;

    button {
      @include bar-button();
      @include small-label();
      background: transparent;

      &:hover {
        color: $base02;
      }
    }
  }

  .tray-button {
    @include small-label();

    icon {
      color: $base05;
      font-size: 12px;
      transition: all 0.2s cubic-bezier(1, 1, 1, 1);

      &.showing {
        -gtk-icon-transform: rotate(180deg);
      }
    }
  }

  .battery-label {
    @include transparent-label();

    .battery-bulb {
      background: $base05;
      margin: 0.8em 0;
      border-radius: 2px;
    }

    levelbar {
      trough {
        border: 1px solid $base05;
        border-radius: 2px;
        padding: 1px;
        margin: 0.5em 0;

        block.filled {
          background: scale-color($color: $base0D, $lightness: -15%);
        }
      }
    }

    &.charging {
      levelbar {
        trough {
          block.filled {
            background: scale-color($color: $base0B, $lightness: -15%);
          }
        }
      }
    }

    .battery-flash {
      color: $base05;
      font-size: 10px;
    }
  }

  .clock {
    @include transparent-label();

    label {
      color: $base05;
    }
  }

  .indicators {
    @include bar-button();
  }
}
