window#app-launcher {
  background: transparent;

  .launcher-box {
    background: $base00;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.36);
    border: 2px solid $base01;
    border-radius: 5px;
    margin: 12px;

    .power-menu {
      background: $base01;
      padding: 0.7em;
      color: $base05;

      .lock {
        @include color-button($base0B);
      }

      .poff {
        @include color-button($base08);
      }
    }

    .apps {
      margin: pxToRem(12px);

      scrollbar {
        background: none;
      }

      .app-item {
        border-radius: 5px;
        padding-left: 0.7em;
        color: $base05;

        &:focus {
          background: $base02;
          color: $base0D;
        }

        &:hover {
          background: $base02;
        }
      }
    }

    .search-entry {
      border-radius: 5px;
      padding-left: 0.7em;
      background: $base01;
      color: $base05;
      caret-color: $base05;
    }
  }
}
