window#app-launcher {
  background: transparent;

  .launcher-box {
    font-family: "Iosevka Nerd Font Propo";
    font-size: 14px;
    background: $base00;
    border: 2px solid $base01;
    margin: 0.7em;

    button {
      transition: background 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
    }

    .power-menu {
      background: $base01;
      padding: 0.65em;

      button {
        background: scale-color($color: $base01, $lightness: 5%);
        color: $base05;

        &:focus {
          background: scale-color($color: $base02, $lightness: 5%);
        }

        &:hover {
          background: scale-color($color: $base02, $lightness: 5%);
        }
      }
    }

    .apps {
      margin: 0.65em;

      scrollbar {
        background: none;
      }

      .app-item {
        padding: 0.4em;

        color: $base05;

        &:focus {
          background: $base02;
        }

        &:hover {
          background: $base02;
        }

        .title {
          margin: 0 0.8rem;
        }
      }
    }

    .search-entry {
      padding: 0.4rem;
      background: $base01;
      color: $base05;
    }
  }
}
