window#app-launcher {
  background: transparent;

  .launcher-box {
    font-family: "Rubik";
    font-size: 13px;
    background: $base00;
    border: 2px solid $base01;
    margin: 0.7em;

    button {
      transition: background 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
    }

    .power-menu {
      background: $base01;
      padding: 0.7em;
      font-size: 13px;
      color: $base05;

      .lock {
        color: $base0B;

        &:hover {
          color: scale-color($color: $base0B, $lightness: -20%);
        }
      }

      .poff {
        color: $base08;

        &:hover {
          color: scale-color($color: $base08, $lightness: -20%);
        }
      }
    }

    .apps {
      margin: 0.7em;

      scrollbar {
        background: none;
      }

      .app-item {
        padding-left: 0.7em;
        color: $base05;

        &:focus {
          background: $base02;
          color: $base0D;
          // box-shadow: 2px 0 0 0 $base0D inset;
        }

        &:hover {
          background: $base02;
        }
      }
    }

    .search-entry {
      padding-left: 0.7em;
      background: $base01;
      color: $base05;
    }
  }
}
