@mixin notif($box-shadow: false) {
  .notification {
    border: 2px solid $base01;
    border-radius: 5px;
    background-color: $base00;
    margin: 6px;

    @if $box-shadow {
      box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.36);
    }

    .notif-icon {
      min-width: 68px;
      min-height: 68px;
      margin-right: 0.7em;
      color: $base05;
    }

    &.critical {
      border: 2px solid $base08;
    }

    .header {
      background: $base01;
      padding: 0.5em;

      .title {
        color: $base05;
      }

      .time {
        color: $base05;
      }

      .close-button {
        icon {
          color: $base08;
        }

        &:hover {
          icon {
            color: transparentize($color: $base08, $amount: 0.3);
          }
        }
      }
    }

    .notif-right {
      .body {
        color: $base05;
      }

      .actions {
        margin-top: 0.7em;

        .action-button {
          color: $base05;
          border-radius: 5px;
          background: $base01;

          &:hover {
            background: $base02;
          }
        }
      }
    }
  }
}

window.notification-popups box.notifications {
  @include notif($box-shadow: true);
  margin: 6px;
}

window#panel box.notif-centre box.notifications {
  @include notif();
  margin: 6px;
}
