window.notification-popups box.notifications {
  padding: 4px;

  .notification {
    border-radius: 3px;
    min-width: 25em;
    margin: 0.65rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background-color: $base00;

    .notif-icon {
      min-width: 68px;
      min-height: 68px;
      margin: 1rem;
    }

    &.critical {
      border: 2px solid $base08;
    }

    .left {
      margin: 0.6rem 0.6rem 0.6rem 0rem;

      .content {
        background: $base01;
        border-radius: 3px;
        padding: 0.8em;

        .title {
          font-weight: bold;
        }

        .title,
        .body {
          color: $base04;
          font-size: 14px;
          margin: 0.1rem 0.4rem;
        }
      }

      .actions {
        margin-top: 0.6rem;

        .action-button {
          color: $base04;
          border-radius: 3px;
          font-weight: bold;
          background: $base01;
          transition: all 0.5s cubic-bezier(0.17, 0.67, 0.24, 1.46);
          padding: 0.8em;
          font-size: 14px;

          &:hover {
            background: $base02;
          }
        }
      }
    }
  }
}
