@mixin notif() {
  .notification {
    border: 3px solid $base01;
    border-radius: 5px;
    background-color: $base00;

    .notif-icon {
      min-width: 68px;
      min-height: 68px;
      margin-right: 0.7em;
      color: $base05;
    }

    &.critical {
      border: 3px solid $base08;
    }

    .header {
      background: $base01;
      padding: 0.5em;

      .title {
        color: $base05;
      }

      .time {
        color: $base05;
      }

      .close-button {
        icon {
          color: $base08;
        }

        &:hover {
          icon {
            color: transparentize($color: $base08, $amount: 0.3);
          }
        }
      }
    }

    .notif-right {
      .body {
        color: $base05;
      }

      .actions {
        margin-top: 0.7em;

        .action-button {
          color: $base05;
          border-radius: 5px;
          background: $base01;

          &:hover {
            background: $base02;
          }
        }
      }
    }
  }
}

window.notification-popups box.notifications,
window#panel box.notif-centre box.notifications {
  margin: 0.7em;
  @include notif();
}
