@mixin panel-slider($color) {
  padding: 0 0.7em;

  &.mute {
    scale {
      trough {
        slider {
          background: $base03;
        }

        highlight {
          background: $base03;
        }
      }
    }
  }

  icon {
    color: $color;
  }

  scale {
    trough {
      background: transparentize($color, 0.9);
      min-height: 2px;

      slider {
        background: $color;
        min-height: 7px;
        min-width: 7px;
        border-radius: 25px;
        margin: -4px;
      }

      highlight {
        border: none;
        background: $color;
      }
    }
  }
}

window#panel {
  background: transparent;

  .panel-box {
    border: 2px solid $base01;
    background: $base00;
    margin: 0.7em;

    .pb-lower {
      margin: 0.7em;

      .audio-slider {
        background: $base01;

        @include panel-slider($base05);
      }

      .wifi {
        background: $base01;
        color: $base05;
      }
    }

    .notif-centre {
      scrollbar {
        background: none;
      }

      .nc-header {
        font-size: 13px;
        font-family: "Iosevka Nerd Font Propo";
        color: $base05;
        padding: 0.7em;
        background: $base01;

        .clear-button {
          background: transparent;

          color: $base08;

          &:hover {
            color: scale-color($color: $base08, $lightness: -20%);
          }
        }
      }
    }
  }
}
