@mixin color-hover($bg-color) {
  $hover-bg: if(lightness($bg-color) > 50%,
      darken($bg-color, 10%),
      lighten($bg-color, 10%));

  &:hover {
    background-color: $hover-bg;
  }
}

@mixin color-button($bg-color) {
  $bg-translucent: if(lightness($base01) > 50%,
      mix($base01, $bg-color, 80%),
      mix($base01, $bg-color, 90%));

  border-radius: 5px;
  color: $bg-color;
  background: $bg-translucent;
  @include color-hover($bg-translucent);
}

// https://dev.to/nikolab/convert-px-to-rem-using-sass-3-methods-4ep2
@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem;
}

menu {
  border: 2px solid $base01;
  border-radius: 5px;
  background: $base00;
  padding: 0.8em;

  separator {
    background: $base03;
    border-radius: 5px;
  }

  menuitem {
    border-radius: 5px;
    padding: 0.5em;
    color: $base05;

    &:hover {
      background: $base02;
    }
  }
}

tooltip {
  background: $base00;
  border-radius: 5px;
  border: 2px solid $base01;
  color: $base05;

  // ???
  label {
    margin: 0.5em;
  }
}
