ansible~=8.2.0
ansible-modules-hashivault
boto3
botocore
chardet<5.0.0
# kapitan uses gojsonnet only if installed, and we badly need it for perf
gojsonnet==0.17.0
httpie
httpie-edgegrid
hvac
jmespath
kapitan==0.32.0
molecule~=5.1.0
molecule-plugins[docker]
pysocks
requests<=3.0.0
yq
