* {
  all: unset;
  transition: 200ms;
}

$radius: 1.5rem;
$assets: './assets/';
$wallpaper: $assets+'makimapple.jpg';
$avatar:    $assets+'getou.jpg';
$bell: $assets+'bell.png';

$bg: #0f0f0f;
$bg-alt: #191919;
$fg: #f0f0f0;
$fg-alt: #cacaca;
$fg-alt2: #a0a0a0;
$black: #262626;
$gray: #4c4c4c;
$red: #dd6777;
$green: #9ec49f;
$yellow: #ceb188;
$blue: #a39ec4;
$blue-alt: #6791C9;
$magenta: #c49ec4;
$cyan: #9ec3c4;
$white: $fg;

tooltip {
  font-family: "SF Mono";
  font-weight: 500;
  font-size: 1rem;
  color: $fg;
  background-color: $bg;
  border: 3px solid $bg;
  border-radius: .5rem;
}

@import "scss/bar.scss";
@import "scss/volume.scss";
@import "scss/player.scss";
@import "scss/powermenu.scss";
@import "scss/background.scss";
@import "scss/launcher.scss";
@import "scss/dock.scss";
@import "scss/notifications.scss";
@import "scss/notifications_popup.scss";
@import "scss/calendar.scss";
@import "scss/system.scss";
@import "scss/menu.scss";