.cal {
  margin: 1rem;
  padding: 1rem;
  border-radius: $radius;
  box-shadow: 0 0 4px 1px rgba(black, 0.5);
  background-color: $bg;
  .calendar {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: $bg-alt;
    border-radius: $radius;
    padding: 1rem 1rem 0 1rem;

    calendar {
      padding: 0.5rem;

      &.button {
        color: $fg-alt;

        &:hover {
          background-color: $black;
          border-radius: 1rem;
        }
      }

      &:selected {
        color: $green;
        text-shadow: 0 0 3px lighten($color: $bg-alt, $amount: 50%);
        border-radius: 1rem;
      }

      &.header {
        background-color: transparent;
        border: none;
      }

      &.highlight {
        color: $green;
      }

      &:indeterminate {
        color: $gray;
      }
    }
  }
}
