$dock_icon_size: 4rem;

.dock {
  .container {
    min-width: $dock_icon_size * 11.5;
    min-height: $dock_icon_size * 1.3;
    &.hovered {
      min-width: $dock_icon_size * 11.7;
    }
  }

  .foot {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), inset 0 0 0 5px $bg;
    background-color: $bg;
    margin: 0 1.5em;
    padding: 0;
    border-radius: $radius $radius 0 0;
    border-bottom: none;
    min-height: 1.5em; //footer height
  }

  .laucher {
    .indicator {
      min-height: 0.4em; //indicator height
      min-width: 2em; //indicator width
      border-radius: 1rem;
    }
    .icon {
      min-width: $dock_icon_size;
      min-height: $dock_icon_size;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:hover {
      background-image: linear-gradient(transparent, transparentize($fg, 0.94));
      .icon {
        min-width: $dock_icon_size * 1.25;
        min-height: $dock_icon_size * 1.25;
      }
    }
    &:active {
      .indicator {
        background-color: $green;
      }
    }
  }
}
