* {
    main-bg:            #0B1733E6;
    main-fg:            #B43C60;
    main-br:            #4E3459;
    main-ex:            #24284A;
    select-bg:          #B43C60;
    select-fg:          #0B1733;
    separatorcolor:     transparent;
    border-color:       transparent;
}
