* {
    main-bg:            #755F89E6;
    main-fg:            #DBDEE3;
    main-br:            #B5C8DA;
    main-ex:            #B3B2BB;
    select-bg:          #DBDEE3;
    select-fg:          #755F89;
    separatorcolor:     transparent;
    border-color:       transparent;
}
